Flask>=2.0
flask-cors>=3.0
# Add your model dependencies here:
numpy
pandas
scikit-learn
lightgbm
# any other libs your feature extractor or model need:
# e.g. joblib, sentence-transformers, transformers, torch, etc.
